@{
    ViewData["Title"] = "Home Page";
}
    <body style="background-color:antiquewhite">
        <div class="text-center">
            <h1 class="display-4">Epic Virtual Store Shopping List Creator!</h1>

        </div>

    </body>
